<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Help</title>
</head>
<body>
  <%- include('../partials/header') -%>
  <h5> Please go to home page and enter to location to get the temperature details. </h5>
  <%- include('../partials/footer') -%>
</body>
</html>